In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('../raw_data/bgg-19m-reviews.csv')

In [13]:
pd.options.display.max_columns = None

In [4]:
dataset.shape

(18964807, 6)

In [5]:
dataset.head()

,Unnamed: 0,user,rating,comment,ID,name
0,0,Torsten,10.0,NaN,30549,Pandemic
1,1,mitnachtKAUBO-I,10.0,Hands down my favorite new game of BGG CON 200...,30549,Pandemic
2,2,avlawn,10.0,I tend to either love or easily tire of co-op ...,30549,Pandemic
3,3,Mike Mayer,10.0,NaN,30549,Pandemic
4,4,Mease19,10.0,This is an amazing co-op game. I play mostly ...,30549,Pandemic

In [7]:
dataset = dataset.dropna()

In [8]:
dataset.shape

(3368619, 6)

In [10]:
game_info = pd.read_csv('../raw_data/games_detailed_info.csv', low_memory = False)

In [15]:
game_info2 = game_info[['id', 'yearpublished', 'maxplayers', 'playingtime']]

In [20]:
game_info2 = game_info2.rename(columns = {'id': 'ID'})
game_info2.head()

      ID  yearpublished  maxplayers  playingtime
0  30549           2008           4           45
1    822           2000           5           45
2     13           1995           4          120
3  68448           2010           7           30
4  36218           2008           4           30

In [21]:
dataset.merge(game_info2, how='left', on = 'ID')

,Unnamed: 0,user,rating,comment,ID,name,yearpublished,maxplayers,playingtime
0,1,mitnachtKAUBO-I,10.0,Hands down my favorite new game of BGG CON 200...,30549,Pandemic,2008.0,4.0,45.0
1,2,avlawn,10.0,I tend to either love or easily tire of co-op ...,30549,Pandemic,2008.0,4.0,45.0
2,4,Mease19,10.0,This is an amazing co-op game. I play mostly ...,30549,Pandemic,2008.0,4.0,45.0
3,5,cfarrell,10.0,Hey! I can finally rate this game I've been pl...,30549,Pandemic,2008.0,4.0,45.0
4,8,gregd,10.0,Love it- great fun with my son. 2 plays so far...,30549,Pandemic,2008.0,4.0,45.0
...,...,...,...,...,...,...,...,...,...
3368614,18964798,Peter The Rat,4.0,"Sadly, to slow moving and fiddly!",1752,Haps,2000.0,2.0,45.0
3368615,18964800,spellengek,4.0,"Weird card game with some nice gameplay, but a...",1752,Haps,2000.0,2.0,45.0
3368616,18964803,Gregarius,2.0,"I hated this game. Too complicated to set up, ...",1752,Haps,2000.0,2.0,45.0
3368617,18964804,Lajos,2.0,Sold in Geekauction for 3 GG.,1752,Haps,2000.0,2.0,45.0
3368618,18964805,Imagine,1.0,This game is not for me - I just didn&#039;t g...,1752,Haps,2000.0,2.0,45.0

In [23]:
dataset.to_csv('../raw_data/clean_data.csv')

In [31]:
dataset['rating']=dataset['rating'].round(decimals=0)

In [33]:
low_ratings=dataset[dataset['rating'] < 5].sample(n=50000, random_state=1)

In [34]:
high_ratings=dataset[dataset['rating'] >= 5].sample(n=50000, random_state=1)

In [36]:
combined = pd.concat([low_ratings, high_ratings], axis = 0)
combined.shape

(100000, 6)

In [37]:
combined.to_csv('../raw_data/clean_data.csv')

,Unnamed: 0,user,rating,comment,ID,name
15647886,15647886,TheCat,7.0,Fun cheap miniatures game. I own starter deck...,18985,Battleground
9226049,9226049,Squatting Monkey,6.5,My gaming group has informed me that the game ...,22345,Yspahan
9673693,9673693,MahsimusPrime,8.0,I enjoy this game better than both Acquire and...,90419,Airlines Europe
1688880,1688880,blackcondor,8.0,A really fun and light worker placement game.,110327,Lords of Waterdeep
16670493,16670493,overhaul,7.0,1,200551,30 Rails
...,...,...,...,...,...,...
10036585,10036585,DJ Kuul A,5.0,"Very impressive components, and some clever me...",192457,Cry Havoc
10177985,10177985,Latria,8.0,DSP 8th place 1999 SdJ Nominee 1999 Great intr...,49,Mamma Mia!
10160102,10160102,utopicus,9.0,Perfect lenght. Really enjoy playing.,220520,Caverna: Cave vs Cave
17387728,17387728,Koashurakid,7.0,Quick Play game with the feel of a love letter...,241245,Get the MacGuffin
8755816,8755816,Amarken,8.0,A fun game of telling storys. Perfect when you...,1234,Once Upon a Time: The Storytelling Card Game